.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Button-Default {
  background: lightgrey;
  width: 100%;
  max-width: 170px;
}

.App-Button-Active {
  background: #efe1308a;
  width: 100%;
  max-width: 170px;
}

.nothidden {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.container3 {
  columns: 3 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 500px;
}

.container2 {
  columns: 2 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 500px;
}

.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}

.banner {
  width: 70%;
  max-width: 450px;
}

table.paleYellowRows {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FFFFFF;
  width: 100%;
  max-width: 200px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.paleYellowRows td, table.paleYellowRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleYellowRows tbody td {
  font-size: 13px;
}

table.paleYellowRows tr {
  line-height: 30px;
}

table.paleYellowRows tr:nth-child(even) {
  background: #efe1308a;
}
table.paleYellowRows thead {
  background: #8a8a8a;
  border-bottom: 5px solid #FFFFFF;
}
table.paleYellowRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleYellowRows thead th:first-child {
  border-left: none;
}

table.paleYellowRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleYellowRows tfoot td {
  font-size: 14px;
}

a {
  color: black;
}